# Python virtual environment
venv/

# Python bytecode
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Output files
*.npy
*.tif
*.tiff
StrainImg.png

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Test output files
Test/*.npy
Test/*.png
Test/*.tif
Test/*.tiff
Test/u_*
Test/v_*
Test/FlowAndStrainImg*
Test/StrainImg*
Src/__pycache__/compute_flow.cpython-38.pyc
Src/__pycache__/compute_flow.cpython-38.pyc
Src/__pycache__/compute_flow.cpython-38.pyc
