# Python virtual environment
venv/

# Python bytecode
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Output files
*.npy
StrainImg.png

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Test output files
Test/*.npy
Test/StrainImg*.png
Test/FlowAndStrainImg*.png
